<div class="main">
  <!-- <nav class="navbar mmmnav navbar-expand-lg navbar-light mynav" >
      <div class="container-fluid">
       <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img class="logo"
              src="assets/image/logo.png"
              alt="Logo"
              loading="lazy"
            />
          </a>
          <ul class="navbar-nav  mb-2 mb-lg-0" style="margin: 0 auto;">
            <li class="nav-item me-5">
              <a class="nav-link text-white" href="#">Home</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-white" href="#">Login</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-white" routerLink="employee">Admin table</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-white" routerLink="employees/add">Register new staff</a>
            </li>
          </ul>
        </div>
  
      </div>
    </nav> -->
</div>
