<div class="wrapper">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  
      <div class="main">
        <div class="formhead" style="display: flex; margin-bottom: 10px;">
          <img class="logo" src="assets/image/chickenville.png" alt=""> 
          <h3 style="text-align:center; align-self:center;font-size: 1.5rem; ">Change password</h3>
        </div>
        <form #form="ngForm" (ngSubmit)="changepassword()">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="">
                  <label class="form-label" style="background-color: black; margin-top: 2px;">Password</label>
                  <input type="password" id="password" name="password" [(ngModel)]="changePassword.password"  class="form-control"style="border: 2px solid grey; " required/>
                  
                </div>
    
              </div>
            </div>
            <!-- Submit button -->
            <div class="btnn" style="display: flex;">
              <button type="submit" class="btn btn-primary btn-block mybtn" [disabled]="!form.valid">Save changes</button>
                <!-- Button trigger modal -->
            </div>
  
 
      
          </form>
      </div>
    </div>
    
    