

.wrapper {
    width: 400px;
    background-color: black;
    color: white;
    margin-left:35%;
    position: absolute;
    top: 20%;    
    box-sizing: border-box;
    padding: 10px 40px 30px 40px;
}

.mybtn {
    width: 100%;
    margin: 5% 0 0 0;
    padding: 10px;
    font-size: 1rem;
    display: block;
    background-color: #008F7A;

}
.mybtn2 {
    width: 50%;
    margin: 5% 0 0 2%;
    padding: 10px;
    font-size: 1rem;
    display: block;
    background-color: red;

}

.remove {
    display: flex;
}

.trash {
    height: 150px;
    width: 150px;
    margin-left: 30px;
    object-fit: cover;
}

.wrapper {
    animation-duration: 1s;
    animation-name: slidein;
}

.logo {
    height: 100px;
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
    object-fit: cover;   
}


@keyframes slidein {
    from {
      margin-left: 60%;
      width: 70%;
    }
  
    to {
      margin-top: 0%;
      width: 50%;
    }
  }

/* input.ng-invalid.ng-touched {
    outline: 1px solid red;
} */
label {
    color: white !important;
}



input[type=text],
input[type=text],
input[type=email],
input[type=password],
::placeholder
{
    color:black;
}

select {
    color: black;    
}
select option { color: black; }



