<div class="row main2 ">
    <div class="col-1 main">
        <div class="main2">
            <div class="nav-section"><img class="logo" src="assets/image/chickenville.png" alt="chicken-logo"></div>
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: 18%; margin-top: 30%;">
                <li class="nav-item me-5 mb-2">
                    <div class="mm">
                        <a class="nav-link text-white mainLi" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" routerLink="">
                            <i class="fa-sharp navi fa-solid fa-house"></i>
                            <p>Home</p>
                        </a>
                    </div>
                </li>
                <hr>
                <!-- <li class="nav-item me-5 mb-2">
                    <div class="mm">
                        <a class="nav-link text-white mainLi" [routerLinkActive]="'active'"  routerLink="/employees/login-table">
                            <i class="fa-solid navi fa-right-to-bracket"></i>
                            <p>Records</p>
                        </a>

                        
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>