
 <div class="main">
   <button type="button" class="btn text-white login-buttn" style="background-color: red; border-radius: 30px; width: 100px; font-family: 'Montserrat', sans-serif !important; font-size: 15px;"><a routerLink="employees/login" style="color: white">Login</a></button>
    <img class="dChicken" src="assets/image/chicken.gif" alt="dancing chicken">
    <h1>Welcome to <span style="color: yellow;">ChickenVille</span></h1>
    <h6 class="headerh6">Your home of quality and fresh chickens</h6>

  </div>

  
